/**
* Header
**/

#header {
    margin-bottom: 1em;
    text-align: center;
    overflow: hidden;

    @include modular-mq(small) {
        text-align: left;
    }

    @include modular-mq(medium) {
        margin-bottom: 2em;
    }

    .logo {
        @include modular-mq(small) {
            float: left;
        }
    }

    .more-link {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
    }
}

#nav {
    @include modular-mq(small) {
        float: right;
        padding-top: 87px;
    }

    @include modular-mq(medium) {
        padding-top: 85px;
        font-size: 1.2em;
    }

    ul {
        margin-left: 0;
        text-transform: uppercase;
    }

    li {
        display: inline-block;
        padding: $gutter $gutter/2 0;

        @include modular-mq(large) {
            padding: $gutter 0 0 $gutter*3;
        }
    }

    a {
        display: block;
        padding: $gutter 0;
        color: $grey_dark;
        border-bottom: 2px solid transparent;

        @include transition(border-color, 0.25s, ease-in);

        &:hover,
        &:focus {
            text-decoration: none;
            border-bottom: 2px solid $orange;

            @include transition(border-color, 0.25s, ease-out);
        }
    }
}

.home #header {
    margin-bottom: 0;
    background: url(/assets/images/london.jpg) center no-repeat;
    background-size: cover;

    .content-wrapper {
        height: 600px;
    }
}
