.nav {
    font-size: 0.9rem;

    @include mq($until: small) {
        margin: 0 -10px;
    }

    @include mq($from: medium) {
        float: right;
        padding-top: 80px;
        font-size: 1.2em;
    }

    ul {
        @include reset-list;
        text-transform: uppercase;
    }

    li {
        display: inline-block;
        padding: 10px 5px 0;

        @include mq($from: large) {
            padding: 10px 0 0 30px;
        }
    }

    a {
        display: block;
        padding: 10px 0;
        color: $grey-dark;
        border-bottom-width: 2px;
    }
}
