.social-links {
    @include reset-list;
    padding-top: $grid-gutter-width;

    dt {
        margin-bottom: 1rem;
    }

    dd {
        display: inline-block;
        margin: 0;

        & + dd {
            padding-left: $grid-gutter-width/2;
        }
    }
}
