<section class="homepage-section section-medium" id="about">
    <div class="content-wrapper">
        <div class="column two-column avatar-image">
            <p>
                <img alt="Jasal's Xbox Live avatar" src="/assets/images/avatar.png" />
            </p>
        </div>

        <div class="column four-column">
            <h2>About</h2>

            <p>I have been working with the web since 2006 after graduating with a bachelors degree in Computer Science from <a href="http://www.herts.ac.uk/" target="_blank">The University of Hertfordshire</a>.</p>

            <p>Over the years I've spent time working for myself, for large companies, and various agencies - currently I'm full-time at <a href="http://www.fullsixuk.com" target="_blank">FullSIX London</a> - which has given me the opportunity to use a wide range of technologies and work on large and small scale builds.</p>

            <p>My love for technology doesn't stop when the clock hits 6pm. In and around usual working hours I've also played around with conductive ink, 3D printing, <a href="http://instagram.com/p/qek1HbP2Xi/" target="_blank">holograms</a>, Kinect development, and have created templates and tools. Anything that works (and sometimes doesn't) will usually appear on <a href="http://github.com/donofkarma" target="_blank">Github</a>.</p>
        </div>

        <!-- <p class="more-link">
            <a class="nav-link" href="#portfolio">See my work</a>
        </p> -->
    </div>
</section>
