<section class="section section-dark section-homepage" id="contact">
    <div class="content-wrapper">
        <h2>Get in touch</h2>

        <div class="column three-column">
            <p>If you have any questions, a project you would like me to work on or just want to say "hi", drop me an email:</p>
            <p><a href="mailto:jasal@blacklabelcreative.com">jasal [at] blacklabelcreative [dot] com</a></p>
        </div>

        <div class="column three-column">
            <p>I can also be found on the following networks:</p>
            <ul class="social-links">
                <li><a class="icon icon-github" href="http://github.com/donofkarma" target="_blank">GitHub</a></li>
                <li><a class="icon icon-twitter" href="http://twitter.com/donofkarma" target="_blank">Twitter</a></li>
                <li><a class="icon icon-google" href="https://plus.google.com/105824124460271737521/posts" target="_blank">Google+</a></li>
                <li><a class="icon icon-linkedin" href="http://www.linkedin.com/in/jasalvadgama" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</section>
