<section class="homepage-section" id="portfolio">
    <div class="content-wrapper">
        <h2>Latest work</h2>

        <ul>
            <li class="column two-column">
                <h3>The Body Shop Christmas 2014</h3>
                <p>Multi-lingual NodeJS build, HTML, CSS, Javascript</p>
            </li>

            <li class="column two-column">
                <h3>Sainsbury's Home Ideas</h3>
                <p>Heavily customised WordPress theme, HTML, CSS, Javascript, NodeJS driven Store Locator API</p>
            </li>

            <li class="column two-column">
                <h3>James Nighthawk</h3>
                <p>Wordpress theme, HTML, CSS, Javascript</p>
            </li>

            <li class="column two-column">
                <h3>Freeview Availability Checker</h3>
                <p>NodeJS API, PHP, HTML, CSS, Javascript</p>
            </li>

            <li class="column two-column">
                <h3>Waitrose.com</h3>
                <p>HTML, CSS, Javascript</p>
            </li>
        </ul>

        <p class="more-link">
            <a class="nav-link" href="/portfolio">See more work</a>
        </p>
    </div>
</section>
