<section class="section section-homepage" id="portfolio">
    <div class="content-wrapper">
        <h2>Latest work</h2>

        <ul class="portfolio-items">
            <li>
                <a href="/portfolio/the-body-shop-christmas-2014/">
                    <img alt="The Body Shop Christmas 2014" src="/assets/images/portfolio/the-body-shop-christmas-2014/the-body-shop-christmas-2014.png" />
                    <div class="description">
                        <h3>The Body Shop Christmas 2014 Gift Finder</h3>
                        <p>Multi-lingual NodeJS build, HTML, CSS, Javascript</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="/portfolio/sainsburys-home/">
                    <img alt="Sainsbury's Home Ideas" src="/assets/images/portfolio/sainsburys-home/sainsburys-home.png" />
                    <div class="description">
                        <h3>Sainsbury's Home Ideas</h3>
                        <p>Heavily customised WordPress theme, HTML, CSS, Javascript, NodeJS driven Store Locator API</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="/portfolio/james-nighthawk/">
                    <img alt="The Body Shop Christmas 2014" src="/assets/images/portfolio/james-nighthawk/james-nighthawk.png" />
                    <div class="description">
                        <h3>James Nighthawk</h3>
                        <p>Wordpress theme, HTML, CSS, Javascript</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="/portfolio/freeview-availability/">
                    <img alt="The Body Shop Christmas 2014" src="/assets/images/portfolio/freeview/freeview-coverage-checker.png" />
                    <div class="description">
                        <h3>Freeview Availability Checker</h3>
                        <p>NodeJS API, PHP, Wordpress, HTML, CSS, Javascript</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="/portfolio/waitrose.com/">
                    <img alt="The Body Shop Christmas 2014" src="/assets/images/portfolio/waitrose/waitrose.png" />
                    <div class="description">
                        <h3>Waitrose.com</h3>
                        <p>HTML, CSS, Javascript, Java</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="/portfolio/bt-flat-6-campaign/" title="BT Flat 6 Campaign">
                    <img src="/assets/images/portfolio/bt-flat-6-campaign/bt-flat6-home-300x300.jpg" alt="BT Flat 6 Campaign" />
                    <div class="description">
                        <h3>BT Flat 6 Campaign</h3>
                        <p>HTML, CSS, Javascript</p>
                    </div>
                </a>
            </li>
        </ul>

        <p class="more-link">
            <a class="button" href="/portfolio">See more work</a>
        </p>
    </div>
</section>
