.post-list {
    @include reset-list;
    margin: 0 auto 60px;
    width: 75%;
    font-size: 1.1rem;

    @include mq($from: large) {
        width: 50%;
    }

    li {
        margin-bottom: 1.6rem;

        @include mq($from: small) {
            position: relative;
            padding-left: 120px;
        }
    }

    time {
        display: block;

        @include mq($from: small) {
            position: absolute;
            left: 0;
            width: 100px;
            text-align: right;
        }
    }
}

.post {
    h1 {
        margin-bottom: 0.5rem;
    }

    .meta {
        margin-bottom: 2.8rem;
        color: $grey;
        text-align: center;

        a {
            color: $blue;

            &:hover,
            &:focus {
                border-color: $blue;
            }
        }
    }

    aside {
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px solid $grey;
    }
}
