.error-message {
    text-align: center;

    .row {
        padding: $grid-gutter-width 0;
        min-height: calc(100vh - 185px);

        @include mq($from: medium) {
            min-height: calc(100vh - 138px);
        }
    }

    img {
        width: 100%;
        max-width: 600px;
    }
}
