/**
* blacklabelcreative.com
*
* @info		480px and up styling
* @version	0.0.1
* @author	Jasal Vadgama - http://blacklabelcreative.com/
**/

/**
* Imports
**/
/** SASS **/
@import 'src/sass/partials/_variables.scss';
@import 'src/sass/partials/_mixins.scss';

/**
* General
**/

/**
* Portfolio
**/
/** Latest work **/
.latest-work {
	li {
		float: left;
		margin: 0 0 0 3%;
		width: 31%;
		height: auto;

		&:first-child {
			margin-left: 0;
		}
	}
}
/** Portfolio index **/
.portfolio {
	.latest-work {
		li {
			margin-bottom: $STD_DISTANCE;

			&:nth-child(3n + 1) {
				margin-left: 0;
			}
		}
	}
}

/**
* Gallery
**/
.gallery {
	li {
		margin: 0 3% 10px 0;
		width: 22%;
	}
}

/**
* Sidebar
**/
#sidebar {
	padding-bottom: $STD_DISTANCE * 2;
	overflow: hidden;
}
/** Widgets **/
.widget {
	float: left;
	padding-left: 5%;
	width: 30%;

	&:first-child {
		padding-left: 0;
	}

	&.social-links {
		padding-left: 0;
		width: 100%;
	}
}
.home .social-links,
.about .social-links {
	clear: none;
	padding-left: 5%;
	width: 30%;
}

/**
* Footer
**/
#footer {
	clear: both;
}
