/**
* blacklabelcreative.com
*
* @info		Baseline and 320px styling
* @version	0.0.1
* @author	Jasal Vadgama - http://blacklabelcreative.com/
**/

/**
* Imports
**/
/** SASS **/
@import 'src/sass/partials/_variables.scss';
@import 'src/sass/partials/_mixins.scss';
/** RESET **/
@import 'src/sass/reset.scss';

/**
* General
**/
body {
	background: #fff url(/assets/images/bg.jpg) fixed repeat;
	color: $DARK_GREY;
	font: 14px/1.2em Helvetica, Arial, sans-serif;
	/* stop font size scalling on orientation change - ADD FULL FIX */
	-webkit-text-size-adjust: 100%;
}
article {
	margin-bottom: $STD_DISTANCE * 2;
}
a {
	color: $ORANGE;
	text-decoration: none;

	@include transition(color, 0.1s, ease-in-out);

	&:hover,
	&:focus {
		color: darken($ORANGE, 15%);
	}
}
h1 {
	margin-bottom: $STD_DISTANCE / 1.8;
	font-size: 1.8em;
	line-height: 1em;

	a {
		color: $DARK_GREY;

		&:hover,
		&:focus {
			color: $ORANGE;
		}
	}
}
h2 {
	margin: $STD_DISTANCE * 1.4 0 $STD_DISTANCE / 1.4;
	font-size: 1.4em;
	line-height: 1em;
}
h3 {
	margin-bottom: $STD_DISTANCE / 2;
	font-size: 1.2em;
	line-height: 1em;
}
ul,
ol {
	margin-bottom: $STD_DISTANCE;
	margin-left: $STD_DISTANCE * 1.5;
}
p {
	margin-bottom: $STD_DISTANCE;
}
code {
	display: block;
	margin-bottom: $STD_DISTANCE;
	padding: 10px;
	background: #333;
	border-radius: 5px;
	box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
	color: $TERM_GREEN;
	overflow: auto;
}
.main-image {
	margin-bottom: 1.2em;
	text-align: center;

	img {
		width: 100%;
		height: auto;
		border: 1px solid $MED_GREY;
		box-shadow: 2px 2px 10px -3px rgba(0, 0, 0, 0.5)
	}
}

/**
* Containers
**/
#pageWrapper {
	padding: 0 10px;
}

/**
* Header
**/
#header {
	margin-bottom: $STD_DISTANCE * 2;
	text-align: center;
}

/**
* Navigation
**/
nav {
	ul {
		margin: 0;
	}

	li {
		display: inline-block;
		font-size: 1.4em;
		line-height: 1.2em;
	}

	a {
		margin: 0 $STD_DISTANCE / 2;
		color: lighten($DARK_GREY, 30%);

		&:hover,
		&:focus {
			color: $DARK_GREY;
		}
	}
}
/** Active states **/
.about .menu-about,
.blog .menu-blog {
	color: $DARK_GREY;
}

/**
* Posts
**/
/** Post **/
.post {
	border-bottom: 1px solid $MED_GREY;

	aside {
		display: inline-block;
		padding: $STD_DISTANCE / 2 2.5% 10px 0;
		width: 22.5%;
		vertical-align: top;
	}

	dl {
		dt {
			font-weight: bold;
		}

		dd {
			&:after {
				content: ","
			}

			&:last-child:after {
				content: ""
			}
		}
	}

	.post-content {
		display: inline-block;
		padding-top: $STD_DISTANCE / 2;
		padding-bottom: $STD_DISTANCE;
		padding-left: 2.5%;
		width: 70%;
		border-left: 1px solid $MED_GREY;

		aside {
			margin-top: $STD_DISTANCE;
			padding-left: 0;
			width: 100%;
		}
	}
}
/** More posts (homepage) **/
.more-posts .post {
	padding-bottom: $STD_DISTANCE;
}
/** Article page **/
.blog-post .post {
	margin-bottom: 0;
	border-bottom: 0;
}

/**
* Portfolio
**/
/** Latest work **/
.latest-work {
	ul {
		margin-bottom: $STD_DISTANCE * 3;
		margin-left: 0;
		list-style: none;
		overflow: hidden;
	}

	li {
		position: relative;
		margin: 0 auto $STD_DISTANCE;
		width: 300px;
		height: 200px;
		overflow: hidden;

		a {
			display: block;
			color: #fff;

			&:hover,
			&:focus {
				color: $ORANGE;
			}
		}

		strong {
			position: absolute;
			bottom: 0;
			padding: 10px 5%;
			width: 90%;
			background: rgba(0, 0, 0, 0.6);
			font-size: 1.4em;
			font-weight: normal;
			line-height: 1em;
		}
	}
}
/** Portfolio item **/
.portfolio-item-meta {
	margin-left: 0;
	list-style: none;
}

/**
* Gallery
**/
.gallery {
	margin: $STD_DISTANCE * 2 0 0;
	list-style: none;
	overflow: hidden;

	li {
		float: left;
		margin: 0 3% 10px 0;
		width: 30%;
	}

	a {
		display: block;
		border: 1px solid $ORANGE;
		overflow: hidden;

		@include transition(border-color, 0.1s, ease-in-out);

		&:hover,
		&:focus {
			border-color: darken($ORANGE, 15%);

			img {
				opacity: 1;
			}
		}
	}

	img {
		float: left;
		width: 100%;
		height: auto;
		opacity: 0.6;

		@include transition(opacity, 0.1s, ease-in-out);
	}
}

/**
* Pagination
**/
.pagination {
	overflow: hidden;

	.previous-page {
		float: left;
	}

	.next-page {
		float: right;
	}
}

/**
* Sidebar
**/
/** Category list **/
.category-list {
	a {
		text-transform: capitalize;
	}
}
/** Tag cloud **/
.tag-cloud {
	a {
		display: inline-block;
		margin-right: $STD_DISTANCE;
	}
}
/** Social links **/
.social-links {
	clear: both;

	ul {
		margin-left: 0;
		margin-bottom: $STD_DISTANCE;
		overflow: hidden;
	}

	li {
		float: left;
		margin-right: 10px;
		margin-bottom: 5px;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		position: relative;
		display: block;
		width: 33px;
		height: 33px;
		background: url(/assets/images/social-icons.png) 0 0 no-repeat;
		text-indent: -999em;
		opacity: 0.7;

		@include transition(all, 0.1s, ease-in-out);

		&.icon-github {
			background-position: 0 -94px;
		}

		&.icon-twitter {
			background-position: 0 -332px;
		}

		&.icon-flickr {
			background-position: 0 -47px;
		}

		&.icon-google {
			background-position: 0 -141px;
		}

		&.icon-linkedin {
			background-position: 0 -188px;
		}

		&.icon-rss {
			padding-left: 40px;
			background-position: 0 -284px;
			line-height: 32px;
			text-indent: 0;
			opacity: 1;
		}

		&:hover,
		&:focus {
			opacity: 1;

			@include transition(all, 0.1s, ease-in-out);
		}

		&:active {
			top: 1px;
		}
	}
}
.home .archive-list,
.about .archive-list {
	display: none;
}

/**
* Footer
**/
#footer {
	padding-top: $STD_DISTANCE;
	border-top: 1px solid $MED_GREY;
	text-align: right;
}

/**
* Lightbox
**/
#lightboxOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.3);
}
#lightboxContainer {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 80%;
	border: 5px solid rgba(0, 0, 0, 0.25);
	border-radius: 5px;

	.close {
		display: block;
		position: absolute;
		top: -12px;
		right: -12px;
		width: 24px;
		height: 24px;
		background: url(/assets/images/btn-close-24x24.png) 0 0 no-repeat;
		text-indent: -999em;
	}

	div {
		padding: 5px;
		min-height: 20px;
		background: #fff url(/assets/images/lightbox/loading.gif) center center no-repeat;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

/** SMALL SCREEN **/
@media screen and (min-width: 479px) {
	@import 'src/sass/style_small.scss';
}
/** MEDIUM SCREEN **/
@media screen and (min-width: 767px) {
	@import 'src/sass/style_medium.scss';
}
/** LARGE SCREEN **/
@media screen and (min-width: 959px) {
	@import 'src/sass/style_large.scss';
}
