---
layout: default
type: home
---

<section class="latest-work">
	<h1>Latest work</h1>

	<ul>
		<li>
			<a href="/portfolio/bt-flat-6-campaign/" title="BT Flat 6 Campaign">
				<img src="/assets/images/portfolio/bt-flat-6-campaign/bt-flat6-home-300x300.jpg" alt="">
				<strong>BT Flat 6 Campaign</strong>
			</a>
		</li>
		<li>
			<a href="/portfolio/bt-consumer/" title="BT Consumer">
				<img src="/assets/images/portfolio/bt-consumer/bt-consumer-home-300x300.jpg" alt="">
				<strong>BT Consumer</strong>
			</a>
		</li>
		<li>
			<a href="/portfolio/riverway-studios/" title="Riverway Studios">
				<img src="/assets/images/portfolio/riverway-studios/riverway-home-300x300.jpg" alt="">
				<strong>Riverway Studios</strong>
			</a>
		</li>
	</ul>
</section>

<h1>Latest from the blog</h1>
<section id="content">
	<section class="more-posts">
		{% for post in site.posts limit:4 %}
			<article class="post">
				<h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<div class="body">{{ post.excerpt }}</div>
				<p><a href="{{ post.url }}">Continue reading &rarr;</a></p>
			</article>
	{% endfor %}
</section>
</section>

{% include sidebar.html %}