.introduction {
    text-align: center;

    .row {
        height: calc(100vh - 185px);
        min-height: 500px;

        @include mq($from: medium) {
            height: calc(100vh - 138px);
        }
    }

    h1 {
        margin: -7rem 0 0;
        font-size: 1.8rem;
        font-weight: normal;

        @include mq($from: medium) {
            font-size: 3rem;
        }
    }

    p {
        font-size: 1.1rem;

        @include mq($from: medium) {
            font-size: 1.4rem;
        }
    }
}
