.portfolio-items {
    @include reset-list;
    margin-bottom: 3rem;
    overflow: hidden;

    li {
        margin-bottom: 20px;

        @include mq($from: small) {
            float: left;
        }

        @include mq($from: small, $until: large) {
            margin-bottom: 2.5%;
            margin-left: 2.5%;
            width: 48.75%;

            &:nth-child(2n + 1) {
                margin-left: 0;
            }
        }

        @include mq($from: large) {
            margin-bottom: 1.5%;
            margin-left: 1.5%;
            width: 32.333333%;

            &:nth-child(3n + 1) {
                margin-left: 0;
            }
        }
    }

    a {
        display: block;
        position: relative;
        border: 1px solid $grey-medium;
        color: $white;
        text-align: center;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(50, 153, 187, 0.85);
            box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.3);
            z-index: 1;

            @include mq($from: large) {
                opacity: 0;
                @include transition(opacity);
            }
        }

        &:hover,
        &:focus {
            &:after,
            h3 {
                opacity: 1;
            }
        }
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    h3 {
        position: absolute;
        top: 50%;
        margin: 0;
        padding: 20px;
        width: 100%;
        @include translate(0, -50%);
        z-index: 2;

        @include mq($from: large) {
            opacity: 0;
            @include transition(opacity);
        }
    }
}
