/**
* About
**/

#about {
    h3 {
        margin: 1.4em 0 0.8em;
    }

    a {
        color: $blue;
    }

    .more-link a:hover,
    .more-link a:focus {
        background: $blue;
        color: $grey_dark;
    }

    .avatar-image {
        text-align: center;
    }
}
