<section class="section section-medium section-homepage" id="about">
    <div class="content-wrapper">
        <div class="column two-column avatar-image xs-hidden">
            <p>
                <img alt="Jasal's Xbox Live avatar" src="/assets/images/avatar.png" />
            </p>
        </div>

        <div class="column four-column">
            <h2>About</h2>

            <p>I'm a freelance front end developer and have been working with the web since 2006. Over the years I've worked for a range of companies and agencies on everything from small marketing sites to platform rebuilds.</p>

            <p>My love for technology doesn't stop when the clock hits 6pm. Around usual working hours I've also played around with conductive ink, 3D printing, <a href="http://instagram.com/p/qek1HbP2Xi/" target="_blank">holograms</a>, Kinect development, and have created templates and tools. Anything that works (and sometimes doesn't) will usually appear on <a href="http://github.com/donofkarma" target="_blank">Github</a>.</p>

            <h3>Availability</h3>
            <p>I'm currently fully booked for large projects until <b>8th February 2016</b>, but am available for smaller builds. You can <a href="mailto:jasal@blacklabelcreative.com">drop me an email</a> for any project related enquiries.</p>
        </div>
    </div>
</section>
