<section class="section section-medium section-homepage about" id="about">
    <div class="container-fluid">
        <div class="row row--align-middle">
            <div class="col col-xs-12">
                <h2>About</h2>

                <p>I've been working with the web since 2006 and have a strong knowledge of <b>HTML</b>, <b>CSS</b> (extended with <b>SASS/LESS</b>) and <b>Javascript</b> (including <b>Backbone.js</b> or <b>ReactJS</b>). I've also spent a lot of time building sites with <b>Wordpress</b> as the CMS and <b>NodeJS</b> driven applications and APIs.</p>

                <p>Over the years I've worked for a range of companies and agencies on everything from small marketing sites to platform rebuilds and responsive email templates.</p>
            </div>
        </div>
    </div>
</section>
