<section class="section section-dark section-homepage contact" id="contact">
    <div class="container-fluid">
        <div class="row row--align-middle">
            <div class="col co-xs-12">
                <h2>Get in touch</h2>

                <p>If you have any questions, a project you would like me to work on or just want to say "hi", drop me an email on <a href="mailto:jasal@blacklabelcreative.com">jasal [at] blacklabelcreative [dot] com</a></p>

                <dl class="social-links">
                    <dt>I can also be found on the following networks:</dt>
                    <dd><a href="http://github.com/donofkarma" target="_blank" rel="noreferrer nopoener">GitHub</a></dd>
                    <dd><a href="http://twitter.com/donofkarma" target="_blank" rel="noreferrer nopoener">Twitter</a></dd>
                    <dd><a href="http://www.linkedin.com/in/jasalvadgama" target="_blank" rel="noreferrer nopoener">LinkedIn</a></dd>
                </dl>
            </div>
        </div>
    </div>
</section>
