<section class="section section-homepage" id="portfolio">
    <div class="content-wrapper">
        <h2>Latest work</h2>

        <ul class="portfolio-items">
            <li>
                <a href="/portfolio/the-pool/" title="The Pool">
                    <img alt="The Pool" src="/assets/images/portfolio/the-pool/home-large.jpg" />
                    <h3>The Pool</h3>
                </a>
            </li>

            <li>
                <a href="/portfolio/skrill/" title="Skrill.com">
                    <img alt="Skrill.com" src="/assets/images/portfolio/skrill/skrill-home.jpg" />
                    <h3>Skrill.com</h3>
                </a>
            </li>

            <li>
                <a href="/portfolio/the-body-shop-christmas-2014/" title="The Body Shop Gift Finder, Christmas 2014">
                    <img alt="The Body Shop Gift Finder, Christmas 2014" src="/assets/images/portfolio/the-body-shop-christmas-2014/the-body-shop-christmas-2014.png" />
                    <h3>The Body Shop Gift Finder, Christmas 2014</h3>
                </a>
            </li>

            <li>
                <a href="/portfolio/sainsburys-home/" title="Sainsbury's Home Ideas">
                    <img alt="Sainsbury's Home Ideas" src="/assets/images/portfolio/sainsburys-home/sainsburys-home.png" />
                    <h3>Sainsbury's Home Ideas</h3>
                </a>
            </li>

            <li>
                <a href="/portfolio/james-nighthawk/" title="James Nighthawk">
                    <img alt="James Nighthawk" src="/assets/images/portfolio/james-nighthawk/james-nighthawk.png" />
                    <h3>James Nighthawk</h3>
                </a>
            </li>

            <li>
                <a href="/portfolio/freeview-availability/" title="Freeview Availability Checker">
                    <img alt="Freeview Availability Checker" src="/assets/images/portfolio/freeview/freeview-coverage-checker.png" />
                    <h3>Freeview Availability Checker</h3>
                </a>
            </li>
        </ul>

        <p class="more-link">
            <a class="button" href="/portfolio">See more work</a>
        </p>
    </div>
</section>
