/**
* Portfolio
**/

.portfolio-item {
    article {
        margin: 0 auto 3.4em;

        @include modular-mq(small) {
            width: 85%;
        }

        @include modular-mq(large) {
            width: 75%;
        }
    }

    .main-image {
        display: block;
        position: relative;
        margin: 0 auto 2.8em;
        width: 100%;
        height: auto;

        @include modular-mq(medium) {
            width: auto;
        }
    }
}

.portfolio-item-meta {
    margin-left: 0;
    list-style: none;
}
