<header id="header">
    <div class="content-wrapper">
        <a class="logo" href="/"><img alt="black label creative" src="/assets/images/black-label-creative.png" /></a>

        <nav id="nav">
            <ul>
                <li><a class="nav-link nav-about" href="#about">About</a></li>
                <li><a class="nav-link nav-portfolio" href="#portfolio">Portfolio</a></li>
                <li><a class="nav-link nav-blog" href="/blog">Blog</a></li>
                <li><a class="nav-link nav-contact" href="#contact">Contact</a></li>
            </ul>
        </nav>

        <div class="introduction">
            <h1>Hi, I'm Jasal Vadgama</h1>
            <p>I'm a Front End Developer from London, England</p>
        </div>

        <p class="more-link">
            <a class="button" href="#about">Find out more</a>
        </p>
    </div>
</header>
