<div id="sidebar">
	<section class="widget tag-cloud">
		<h2>Tags</h2>
		<p>
			{% for tag in site.tags %}
				<a href="/blog/tag/{{ tag[0] | replace: ' ', '-' }}/">{{ tag[0] }}</a>
			{% endfor %}
		</p>
	</section>

	<section class="widget category-list">
		<h2>Categories</h2>
		<ul>
			{% for cat in site.categories %}
				<li><a href="/blog/category/{{ cat[0] | replace: ' ', '-' }}/">{{ cat[0] }}</a></li>
			{% endfor %}
		</ul>
	</section>

	<section class="widget archive-list">
		<h2>Archive</h2>
		<ul>
			{% for post in site.posts %}
				{% if post.next %}
					{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
					{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
					{% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
					{% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
				{% endif %}

				{% if forloop.first %}
					<li>{{ post.date | date: '%Y' }}
						<ul>
							<li><a href="/blog/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/">{{ post.date | date: '%B' }}</a></li>
				{% else %}
					{% if year != nyear %}
						</ul>
					</li>
					<li>{{ post.date | date: '%Y' }}
						<ul>
							<li><a href="/blog/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/">{{ post.date | date: '%B' }}</a></li>
					{% elsif month != nmonth %}
							<li><a href="/blog/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/">{{ post.date | date: '%B' }}</a></li>
					{% endif %}
				{% endif %}

				{% if forloop.last %}
						</ul>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</section>

	<section class="widget social-links">
		<h2>Find me on</h2>
		<ul>
			<li><a class="icon-github" href="http://github.com/donofkarma">GitHub</a></li>
			<li><a class="icon-twitter" href="http://twitter.com/donofkarma">Twitter</a></li>
			<li><a class="icon-google" href="https://plus.google.com/105824124460271737521/posts">Google+</a></li>
			<li><a class="icon-linkedin" href="http://www.linkedin.com/in/jasalvadgama">LinkedIn</a></li>
		</ul>
		<p><a class="icon-rss" href="/rss.xml">Subscribe</a></p>
	</section>
</div>