.button {
    display: inline-block;
    padding: 10px 15px;
    background: $grey_dark;
    border: 0;
    color: $orange;
    @include transition(all, $transition-duration, $easing);

    &:hover,
    &:focus {
        background: $orange;
        color: $grey_dark;

        @include transition(all, $transition-duration, $easing);
    }
}
