.header {
    margin-bottom: 1em;
    text-align: center;
    overflow: hidden;

    @include mq($from: medium) {
        margin-bottom: 2em;
        text-align: left;
    }

    .logo {
        border: 0;

        @include mq($from: medium) {
            float: left;
        }
    }

    .home & {
        margin-bottom: 0;
    }
}
