.section {
    &-medium {
        background: $grey;
    }

    &-dark {
        background: $grey_dark;
        color: $white;
    }

    &-homepage {
        .content-wrapper {
            padding: 30px 10px;

            @include mq($from: medium) {
                padding: 70px 0 60px;
            }
        }
    }
}
