.section {
    padding: 0 20px;

    @include mq($from: medium) {
        padding: 0;
    }

    &-medium {
        background: $grey;
    }

    &-dark {
        background: $grey_dark;
        color: $white;
    }

    &-homepage {
        .content-wrapper {
            padding: 30px 0;

            @include mq($from: medium) {
                padding: 60px 0;
            }
        }

        h2 {
            margin-bottom: 2.2rem;
        }
    }
}
