.section {
    &-medium {
        background: $grey;
    }

    &-dark {
        background: $grey_dark;
        color: $white;
    }

    &-homepage {
        .content-wrapper {
            padding-top: 30px;
            padding-bottom: 30px;

            @include mq($from: medium) {
                padding-top: 60px;
                padding-bottom: 60px;
            }
        }

        h2 {
            margin-bottom: 2.2rem;
        }
    }
}
