.social-links {
    @include reset-list;

    li {
        display: inline-block;

        & + li {
            padding-left: 5px;
        }
    }

    a {
        display: block;
        border: 0;
        opacity: 0.75;
        text-indent: 100%;
        overflow: hidden;
        @include transition(opacity, $transition-duration, $easing);

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}
