/**
* Global styles
**/

body {
    color: $grey_dark;
}


// Sections
.homepage-section {
    .content-wrapper {
        padding: $gutter*3 $gutter;

        @include modular-mq(medium) {
            padding: $gutter*7 0 $gutter*6;
        }
    }
}

.section-medium {
    background: $grey_med;
}

.section-dark {
    background: $grey_dark;
    color: $white;
}


// Headings
h1,
h2,
h3 {
    margin-bottom: 1.4em;
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1em;
    text-align: center;

    @include modular-mq(medium) {
        font-size: 2.2em;
    }
}
h1 {
    font-size: 2em;
    line-height: 1.2em;

    @include modular-mq(medium) {
        font-size: 2.6em;
    }
}
h3 {
    font-size: 1.4em;
    line-height: 1.2em;
    text-align: left;
}


// Content
p {
    margin-bottom: 1.2em;
    line-height: 1.6em;
}


// Lists
ol,
ul {
    margin: 0 0 1.4em 1.4em;
    list-style: disc;

    li {
        line-height: 1.4em;
    }
}

ol {
    list-style: decimal;
}


// Links
a {
    color: $orange;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.more-link {
    clear: both;
    margin-bottom: 0;
    text-align: center;

    @include modular-mq(large) {
        margin-left: 0;
        width: 960px;
    }

    a {
        display: inline-block;
        padding: 10px 15px;
        background: $grey_dark;
        color: $orange;
        text-decoration: none;

        @include transition(all, 0.25s, ease-in);

        &:hover,
        &:focus {
            background: $orange;
            color: $grey_dark;

            @include transition(all, 0s, ease-out);
        }
    }
}


// Quotes
blockquote {

}


// Code
pre code {
    display: block;
    margin-bottom: 1.4em;
    padding: 10px 15px;
    background: $grey_dark;
    border-radius: 5px;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    color: $green;
    overflow: auto;
}


// Icons
.icon {
    display: inline-block;
    position: relative;
    text-indent: -999em;
    overflow: hidden;
}

.social-icon {
    @include sprite(33px, 33px, 0, 0);
    opacity: 0.75;

    &.icon-twitter {
        background-position: -102px 0;
    }

    &.icon-google {
        background-position: -34px 0;
    }

    &.icon-linkedin {
        background-position: -68px 0;
    }

    &:hover,
    &:focus {
        opacity: 1;
    }
}
