main {
    .home & {
        padding-top: calc(100vh - 184px);
        max-width: none;

        @include mq($from: medium) {
            padding-top: calc(100vh - 138px);
        }

        section:not(#introduction) .content-wrapper {
            margin: 0 auto;
            max-width: 960px;
        }
    }
}

// wrapper
.content-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
    overflow: hidden;

    @include mq($from: large) {
        padding: 0;
    }
}

// column
.column {
    float: left;
    width: 100%;

    & + .column {
        @include mq($from: small) {
            padding-left: 3%;
        }
    }

    // anything smaller stacks...
    @include mq($from: small) {
        &.two-column {
            width: 31.333333%;
        }

        &.three-column {
            width: 48.5%;
        }

        &.four-column {
            width: 62.666666%;
        }
    }
}

// hide stuff at breakpoints
.xs-hidden {
    @include mq($until: small) {
        display: none !important;
    }
}
.sm-hidden {
    @include mq($from: small, $until: medium) {
        display: none !important;
    }
}
.md-hidden {
    @include mq($from: medium, $until: large) {
        display: none !important;
    }
}
.lg-hidden {
    @include mq($from: large, $until: wide) {
        display: none !important;
    }
}
.wi-hidden {
    @include mq($from: wide) {
        display: none !important;
    }
}
