/**
* Wrappers and Grid
**/

.content-wrapper {
    position: relative;
    padding: 0 $gutter;
    overflow: hidden;

    @include modular-mq(large) {
        margin: 0 auto;
        padding: 0;
        width: 960px;
    }
}

.column {
    float: left;
    width: 100%;
    vertical-align: top;

    & + .column {
        @include modular-mq(small) {
            padding-left: 3%;
        }
    }

    // anything smaller stacks...
    @include modular-mq(small) {
        &.two-column {
            width: 31.333333%;
        }

        &.three-column {
            width: 48.5%;
        }

        &.four-column {
            width: 62.666666%;
        }
    }
}
