#introduction {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url($imagePath + 'london.jpg') center bottom no-repeat;
    background-size: cover;
    z-index: -1;

    .content-wrapper {
        position: absolute;
        top: 50%;
        width: calc(100% - 20px);
        text-align: center;
        @include translate(0, -50%);
    }

    .introduction {
        h1 {
            margin: 0;
            font-size: 1.8rem;
            font-weight: normal;

            @include mq($from: medium) {
                font-size: 3rem;
            }
        }

        p {
            font-size: 1.1rem;

            @include mq($from: medium) {
                font-size: 1.4rem;
            }
        }
    }
}

.more-link {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
}
