---
layout: blog
type: blog
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
	<article class="post">
		<aside>
			<p><time pubdate="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time></p>
			<p><b>Posted in:</b> <a href="">{{ post.category }}</a></p>
			<dl>
				<dt>Tagged:</dt>
				{% for tag in post.tags %}
					<dd><a href="/blog/tag/{{ tag | replace: ' ', '-' }}">{{ tag }}</a></dd>
				{% endfor %}
			</dl>
		</aside>
		<div class="post-content">
			<h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			{{ post.excerpt }}
			<p><a href="{{ post.url }}">Continue reading &#8594;</a></p>
		</div>
	</article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a class="previous-page" href="/blog/">&#8592; Newer</a>
		{% else %}
			<a class="previous-page" href="/blog/{{ paginator.previous_page }}">&#8592; Newer</a>
		{% endif %}
	{% endif %}
	{% if paginator.next_page %}
		<a class="next-page" href="/blog/{{ paginator.next_page }}">Older &#8594;</a>
	{% endif %}
</div>
