<footer class="footer section section-dark">
    <div class="content-wrapper">
        <p>This website was designed and built by Jasal Vadgama.</p>
        <p>The logo has been designed by <a href="https://www.linkedin.com/in/karl-kisala-38712714/" target="_blank" rel="noreferrer noopener">Karl Kisala</a> and the social icons are Webicons by <a href="http://fairheadcreative.com/" target="_blank" rel="noreferrer noopener">Fairhead Creative</a>.</p>
        <p>&copy; 2007-2017 black label creative&#8482; / BLC Digital Ltd. (Registered Company No. 09348993) / Jasal Vadgama</p>
    </div>
</footer>
