<header class="header">
    <div class="container-fluid">
        <a class="logo" href="/"><img alt="black label creative" src="/assets/images/black-label-creative.png" /></a>

        <nav class="nav">
            <ul>
                <li><a class="nav-link nav-about" href="/#about">About</a></li>
                <!-- <li><a class="nav-link nav-portfolio" href="/portfolio">Portfolio</a></li> -->
                <li><a class="nav-link nav-contact" href="/#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
