---
layout: default
title: "Portfolio"
type: portfolio
---

<section class="homepage-section" id="portfolio">
    <div class="content-wrapper">
        <h1>Portfolio</h1>

        <ul>
            <li class="column two-column">
                <a href="/portfolio/the-body-shop-christmas-2014/">
                    <img alt="The Body Shop Christmas 2014" src="/assets/images/portfolio/the-body-shop-christmas-2014/the-body-shop-christmas-2014.png" />
                    <div class="description">
                        <div class="description-content">
                            <h3>The Body Shop Christmas 2014 Gift Finder</h3>
                            <p>Multi-lingual NodeJS build, HTML, CSS, Javascript</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="column two-column">
                <a href="/portfolio/sainsburys-home/">
                    <img alt="Sainsbury's Home Ideas" src="/assets/images/portfolio/sainsburys-home/sainsburys-home.png" />
                    <div class="description">
                        <div class="description-content">
                            <h3>Sainsbury's Home Ideas</h3>
                            <p>Heavily customised WordPress theme, HTML, CSS, Javascript, NodeJS driven Store Locator API</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="column two-column">
                <a href="/portfolio/james-nighthawk/">
                    <img alt="The Body Shop Christmas 2014" src="/assets/images/portfolio/james-nighthawk/james-nighthawk.png" />
                    <div class="description">
                        <div class="description-content">
                            <h3>James Nighthawk</h3>
                            <p>Wordpress theme, HTML, CSS, Javascript</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="column two-column">
                <a href="/portfolio/freeview-availability/">
                    <img alt="The Body Shop Christmas 2014" src="/assets/images/portfolio/freeview/freeview-coverage-checker.png" />
                    <div class="description">
                        <div class="description-content">
                            <h3>Freeview Availability Checker</h3>
                            <p>NodeJS API, PHP, Wordpress, HTML, CSS, Javascript</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="column two-column">
                <a href="/portfolio/waitrose.com/">
                    <img alt="The Body Shop Christmas 2014" src="/assets/images/portfolio/waitrose/waitrose.png" />
                    <div class="description">
                        <div class="description-content">
                            <h3>Waitrose.com</h3>
                            <p>HTML, CSS, Javascript, Java</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="column two-column">
                <a href="/portfolio/bt-flat-6-campaign/" title="BT Flat 6 Campaign">
                    <img src="/assets/images/portfolio/bt-flat-6-campaign/bt-flat6-home-300x300.jpg" alt="BT Flat 6 Campaign" />
                    <div class="description">
                        <div class="description-content">
                            <h3>BT Flat 6 Campaign</h3>
                            <p>HTML, CSS, Javascript</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="column two-column">
                <a href="/portfolio/bt-consumer/" title="BT Consumer">
                    <img src="/assets/images/portfolio/bt-consumer/bt-consumer-home-300x300.jpg" alt="BT Consumer" />
                    <div class="description">
                        <div class="description-content">
                            <h3>BT Consumer</h3>
                            <p>HTML, CSS, Javascript</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="column two-column">
                <a href="/portfolio/riverway-studios/" title="Riverway Studios">
                    <img src="/assets/images/portfolio/riverway-studios/riverway-home-300x300.jpg" alt="Riverway Studios" />
                    <div class="description">
                        <div class="description-content">
                            <h3>Riverway Studios</h3>
                            <p>Wordpress theme, HTML, CSS, Javascript</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="column two-column">
                <a href="/portfolio/reading-leeds-festival/" title="Reading/Leeds 2011">
                    <img src="/assets/images/portfolio/reading-leeds-2011/reading-2011-home-300x300.jpg" alt="Reading/Leeds 2011">
                    <div class="description">
                        <div class="description-content">
                            <h3>Reading/Leeds 2010 &amp; 2011</h3>
                            <p>HTML, CSS, Javascript, .Net, XML/XPath</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="column two-column">
                <a href="/portfolio/download-festival/" title="Download 2011">
                    <img src="/assets/images/portfolio/download-2011/download-2011-home-300x300.jpg" alt="Download 2011">
                    <div class="description">
                        <div class="description-content">
                            <h3>Download Festival 2010 &amp; 2011</h3>
                            <p>HTML, CSS, Javascript, .Net, XML/XPath</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="column two-column">
                <a href="/portfolio/monster-jam/" title="Monster Jam">
                    <img src="/assets/images/portfolio/monster-jam/home-300x300.jpg" alt="Monster Jam">
                    <div class="description">
                        <div class="description-content">
                            <h3>Monster Jam</h3>
                            <p>HTML, CSS, Javascript, .Net, XML/XPath</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="column two-column">
                <a href="/portfolio/b-and-q/" title="B&amp;Q">
                    <img src="/assets/images/portfolio/b-and-q/rooms-300x300.jpg" alt="B&amp;Q">
                    <div class="description">
                        <div class="description-content">
                            <h3>B&amp;Q</h3>
                            <p>HTML, CSS, Javascript, Java</p>
                        </div>
                    </div>
                </a>
            </li>

            <li class="column two-column">
                <a href="/portfolio/tesco.com/" title="Tesco.com">
                    <img src="/assets/images/portfolio/tesco.com/tesco-home-300x300.jpg" alt="Tesco.com">
                    <div class="description">
                        <div class="description-content">
                            <h3>Tesco.com</h3>
                            <p>HTML, CSS, Javascript</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
